* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  min-height: 100%;
}

.projects {
  background: #E9ECEF;
  h2 {
    font-size: 40px;
    margin-top: 50px;
  }

  img {
    object-fit: cover;
  }

}
