footer {
  background-color: #343a40;
  position: bottom;
  margin: 0px;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;

  > p {
    color: #ccc;
    align-content: center;
  }
}
